<div style="margin-bottom: 1em;">
    <h3 style="display:inline;">About Student Portal</h3>
</div>
<p>
    This single page application allows instructors to view their courses online and simplifies the management of courses. 
    Anonymous users can view all courses.
    Instructors who are logged in can view their courses and edit them as they wish as well as add new courses.
    This site is intended to be intuitive, fast, and responsive. 
    Courses can be sorted by category as well as searched. 
    If there are too many courses the user can see the rest on separate pages.
</p>

<p>
    <h3>Technologies:</h3>
    <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Bootstrap</li>
        <li>AngularJS</li>
        <li>jQuery</li>
    </ul>
</p>
