

<div style="margin-bottom: 2em;">
    <h3 style="display:inline;">Mark Mahoney - Courses</h3>
</div>


<div class="thumbnail">
    <div class="caption-full">
        <a href="./#/mycourses" class="glyphicon glyphicon-arrow-left" style="font-size: 18px;"> Back</a>


        <!--Course List-->
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Element</th>
                    <th class="col-md-8">Data</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tr>
                <td>Course Name: </td>
                <td>
                    <span id="label_name" >{{ GetCourse().name }}</span>
                    <input id="input_name" type="text" class="hidden" ng-model="GetCourse().name" />
                </td>
                <td ng-click="EditName()"><button class="glyphicon glyphicon-edit"></button></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td>
                    <span id="label_description">{{ GetCourse().description }}</span>
                    <textarea id="input_description" type="text" class="col-md-12 hidden" ng-model="GetCourse().description" />
                </td>
                <td ng-click="EditDescription()"><button class="glyphicon glyphicon-edit"></button></td>
            </tr>
            <tr>
                <td>Term: </td>
                <td>
                    <span id="label_term">{{ GetCourse().term }}</span>
                    <input id="input_term" type="text" class="hidden" ng-model="GetCourse().term" />
                </td>
                <td ng-click="EditTerm()"><button class="glyphicon glyphicon-edit"></button></td>
            </tr>
            <tr>
                <td>Year: </td>
                <td>
                    <span id="label_year">{{ GetCourse().year }}</span>
                    <input id="input_year" type="text" class="hidden" ng-model="GetCourse().year" />
                </td>
                <td ng-click="EditYear()"><button class="glyphicon glyphicon-edit"></button></td>
            </tr>
        </table>

    </div>
</div>
